body{
background-color: black;

}



.namarginal {
    border: 2px solid aqua;
    color: deepskyblue;
}
.fuga { 
    border: 2px solid aqua;
    color: deepskyblue;
}
.dosrocan { 
border: 2px solid aqua;
color: deepskyblue;
}
